Should we allow slashes in DRS filenames?

Both Bundle and BundleObject have a name field.  Currently, the latter requires no slashes however we have DRS implementations out there that use slashes in the file name to replicate directory structure within a give bundle (e.g. HCA).  Also, another concern is there's no requirement that bundleobject names be unique within a bundle and if you're trying to download an entire bundle filled with identically named files this is a problem.

A proposal:

* for systems that want to use "/" in file names we allow it however we encode it
* like IDs, anything beyond [A-Za-z0-9.-_]. See https://tools.ietf.org/html/rfc3986#section-2.3[RFC 3986 § 2.3]. will need to be encoded (I removed ~ from this)
* encode [!*'();:@&=+$,/?#[] ]. See https://tools.ietf.org/html/rfc3986#section-2.2[RFC 3986 § 2.2].
* file names must be unique in a bundle

A nice side effect is, if we ever want to use file names within URIs they will be safely encoded.

I'm taking the above from #263 

 @xbrianh, @mikebaumann what do you think since this is being driven by the HCA Data Store's use case



Resolved by #276